<mat-toolbar color="primary">
  <span><a routerLink="/list"> My Posts!</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a *ngIf="userIsAuthenticated" mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li>
      <a mat-button *ngIf="!userIsAuthenticated" routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a mat-button *ngIf="!userIsAuthenticated" routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li>
      <button mat-button *ngIf="userIsAuthenticated" (click)='onLogout()'>Logout</button>
    </li>
  </ul>
</mat-toolbar>
