<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form *ngIf="!isLoading" (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input matInput type="email" name="email" ngModel placeholder="E-mail" #loginEmail='ngModel' required email />
            <mat-error *ngIf="loginEmail.invalid">Please enter a valid email! </mat-error>
          </mat-form-field>

          <mat-form-field>
              <input matInput type="password" name="password" ngModel placeholder="Password" #loginPassword='ngModel' required/>
            <mat-error *ngIf="loginPassword.invalid">Please enter a valid password! </mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
    </form>
  </mat-card>





