mat-spinner {
  margin: auto;
}

mat-form-field, textarea {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 100px;
  margin-top: 16px;
}

.image-preview img {
  height: 100%;
}

